<ul style="margin-top: 20px; font-size: 14px;">
  <li>Total query executions: {{ total_executions_count }} ({{ queries|length }} unique)
  <li>Total time: {{ '%.3f'|format(total_sql_time) }} seconds ({{ '%.1f'|format( (sql_time_while_rendering/total_sql_time) * 100 ) }}% on rendering phase)</li>
</ul>
<table class="tablesorter">
	<thead>
		<tr>
            <th>Query&nbsp;#</th>
          	<th>Executions</th>
			<th>Total&nbsp;Time&nbsp;(ms)</th>
			<th>Action</th>
			<!--<th>Context&nbsp;(1st&nbsp;exec)</th>-->
			<th>Query</th>
		</tr>
	</thead>
	<tbody>
		{% for query in queries %}
			<tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
                <td>{{ query.query_id }}</td>
                <td>{{ query.executions|length }}</td>
				<td>{{ '%.1f'|format(query.total_duration * 1000) }}</td>
				<td><a class="remoteCall" href="/_debug_toolbar/views/sqlalchemy/sql_query_executions?key={{ key }}&amp;query_id={{ query.query_id }}">VIEW EXECUTIONS</a></td>
				<td class="syntax">
					<div class="flDebugSqlWrap">
                        <div class="flDebugSql">{{ query.sql|safe }}</div>
                        {#
						{% if query.stacktrace %}
						<div class="djSQLHideStacktraceDiv" style="display:none;">
							<table>
								<tr>
									<th>{% trans "Line" %}</th>
									<th>{% trans "Method" %}</th>
									<th>{% trans "File" %}</th>
								</tr>
								{% for file, line, method in query.stacktrace %}
									<tr>
										<td>{{ line }}</td>
										<td><code>{{ method|escape }}</code></td>
										<td><code>{{ file|escape }}</code></td>
									</tr>
								{% endfor %}
							</table>
							{% if query.template_info %}
							<table>
								{% for line in query.template_info.context %}
								<tr>
									<td>{{ line.num }}</td>
									<td><code style="font-family: monospace;{% if line.highlight %}background-color: lightgrey{% endif %}">{{ line.content }}</code></td>
								</tr>
								{% endfor %}
							</table>
							<p><strong>{{ query.template_info.name|default:"(unknown)" }}</strong></p>
							{% endif %}
						</div>
						{% endif %}
            <span class="djDebugLineChart{% if query.is_slow %} djDebugLineChartWarning{% endif %}" style="width:{{ query.width_ratio }}%; left:{{ query.start_offset }}%;"></span>
                    #}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
