<table>
	<thead>
		<tr>
            <th>#</th>
			<th>&nbsp;(ms)</th>
			<th>Action</th>
			<th>Context</th>
			<th>Query</th>
		</tr>
	</thead>
	<tbody>
        <p style="margin-top: 20px; font-size: 14px;">There were {{ queries|length }} query executions in a total of {{ '%.4f'|format(total_sql_time) }} seconds.
          {{ '%.1f'|format( (sql_time_while_rendering/total_sql_time) * 100 ) }}% of that time occurs in the rendering phase.</p>
        {% if avoidable_queries_count > 0 %}
        <p style="font-size: 14px;">Some queries were executed more than once. {{ avoidable_queries_count }} executions could be avoided, representing a
          {{ '%.1f'|format( (avoidable_query_time/total_sql_time) * 100 ) }}% of the total SQL time.</p>
        <p style="margin-top: 4px;"><strong>Repeated query groups</strong>: {{ repeated_queries|join(', ') }}.</p>
        {% endif %}
        <p style="margin-top: 4px;"><strong>Queries by duration</strong>: {{ queries_by_duration|join(', ') }}.</p>
		{% for query in queries %}
			<tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }}">
                <td>{{ loop.index }}</td>
				<td>{{ '%.1f'|format(query.duration * 1000) }}</td>
				<td>
				{% if query.signed_query %}
					<a class="remoteCall" href="/_debug_toolbar/views/sqlalchemy/sql_select?query={{ query.signed_query }}&amp;duration={{ query.duration|urlencode }}">SELECT</a><br />
					<a class="remoteCall" href="/_debug_toolbar/views/sqlalchemy/sql_explain?query={{ query.signed_query }}&amp;duration={{ query.duration|urlencode }}">EXPLAIN</a><br />
				{% endif %}
				</td>
				<td title="{{ query.context_long }}">
                    {% for level in query.shortened_stack %}
                      {{ level }}<br>
                    {% endfor %}
				</td>
				<td class="syntax">
					<div class="flDebugSqlWrap">
						<div class="flDebugSql">{{ query.sql|safe }}</div>
                        {#
						{% if query.stacktrace %}
						<div class="djSQLHideStacktraceDiv" style="display:none;">
							<table>
								<tr>
									<th>{% trans "Line" %}</th>
									<th>{% trans "Method" %}</th>
									<th>{% trans "File" %}</th>
								</tr>
								{% for file, line, method in query.stacktrace %}
									<tr>
										<td>{{ line }}</td>
										<td><code>{{ method|escape }}</code></td>
										<td><code>{{ file|escape }}</code></td>
									</tr>
								{% endfor %}
							</table>
							{% if query.template_info %}
							<table>
								{% for line in query.template_info.context %}
								<tr>
									<td>{{ line.num }}</td>
									<td><code style="font-family: monospace;{% if line.highlight %}background-color: lightgrey{% endif %}">{{ line.content }}</code></td>
								</tr>
								{% endfor %}
							</table>
							<p><strong>{{ query.template_info.name|default:"(unknown)" }}</strong></p>
							{% endif %}
						</div>
						{% endif %}
            <span class="djDebugLineChart{% if query.is_slow %} djDebugLineChartWarning{% endif %}" style="width:{{ query.width_ratio }}%; left:{{ query.start_offset }}%;"></span>
                    #}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
